@import '../../styles/styles.scss';

.box {
  background-color: $primary;
  border-radius: 5px;
	padding: 12px;
}

.inner-box {
  border: 1px dashed $high-lighted;

  padding: 40px 20px;
  color: $high-lighted;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.slogan {
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
  margin-top: -30px;
}
