@import "./styles/styles.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  padding: 24px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-width: 360px;
}

.button-bar {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: end;
  }
}

.list {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;

  @media screen and (min-width: 600px) {
    grid-template-columns: auto auto;
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: auto auto auto;
  }
}

.pagination {
  margin: 24px auto;
  text-align: center;
}
